{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1 class="text-center">S'inscrire</h1>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}