{% extends 'base.html.twig' %}

{% block body %}
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                   <div class="hero_categories">
                       <div class="hero_categories_all">
                           <button class="btn btn-success dropdown-toggle p-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               <i class="fa fa-bars"></i> <span>Nos différentes catégories</span>
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                               {% for categorie in categories %}
                                   <button class="dropdown-item" type="button">{{ categorie.name }}</button>
                               {% endfor %}
                           </div>
                       </div>
                   </div>
                </div>
                <div class="col-lg-9 mt-1">
                    <div class="hero_search">
                        <div class="hero-search_form">
                            <form action="#">
                                <div class="hero-search-categorie">
                                    Toutes les catégories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="Que recherchez-vous ?">
                                <button class="site-btn btn btn-success" type="submit">RECHERCHER</button>
                            </form>
                        </div>
                        <div class="hero-search_phone">
                            <div class="hero-search-phone_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero-search_phone_text">
                                <h5>06.06.06.06.06</h5>
                                <span>Ouvert du ... </span>
                            </div>
                        </div>
                    </div>
                    <div class="hero_items set-bg">
                        {# TODO: REFAIRE UNE BANNIERE#}
                        <div class="hero-items_text">
                            <span>lorem</span>
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at blanditiis culpa dolore doloribus</p>
                            <button class="btn btn-success m-auto">Boutique</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-advertisement-delivery">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="delivery_icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="delivery_text">
                        <h4>Livraison par tournée</h4>
                        <p>L'équipe du laboratoire parcours la France pour vos livraison</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="delivery_icon">
                        <i class="fas fa-box"></i>
                    </div>
                    <div class="delivery_text">
                        <h4>Possibilitées d'envoi avec FranceExpress</h4>
                        <p>Les envois à domicile nécessite des frais supplémentaires (<a href="#" class="text-muted">voir conditions d'envoi</a>)<br>
                        </p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="delivery_icon">
                        <i class="fas fa-temperature-low"></i>
                    </div>
                    <div class="delivery_text">
                        <h4>Respect de la chaîne du froid</h4>
                        <p>Lors d'une livraison par FranceExpress pour les rongeurs congelées de la carbo-glace vous sera facturer pour respecter la chaîne du froid  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="advertisement">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb-5">
                        <h2>Notre prochaine tournée</h2>
                    </div>
                    <div class="advertisement_delivery">
                        <table class="table table-borderless">
                            <thead>
                            <tr class="">
                                <th scope="col">Ville</th>
                                <th scope="col">Lieu de rendez-vous</th>
                                <th scope="col">Heure d'arrivée</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for delivery in delivery %}
                                <tr>
                                    <td>{{ delivery.city }}</td>
                                    <td>{{ delivery.meeting }}</td>
                                    <td>{{ delivery.checkinTime|date('H:h') }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Nous n'avons programmer aucune tournée pour le moment</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock%}