
header .header_top-bar{
  background-color: #f5f5f5;
}

ul{
  list-style: none;
}

.header_top-left li {
  display: inline-block;
  font-size: 14px;
  margin-right: 45px;
  color: #1C1C1C;
  position: relative;
}

.header_top-right {
  text-align: right;
}

.header_top-right-social {
  display: inline-block;
  margin-right: 35px;
  a{
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    color: #1C1C1C;

  }
}
.header_top-right-auth{
  display: inline-block;
  position: relative;
  margin-left:  35px;
}

.header_top-right-auth{
  display: inline-block;
  a{
    color: #1C1C1C;
  }
}
.header_logo{
  text-align: center;
  padding: 15px 0;
}
.header_logo a{
  display: inline-block;
}
.header_logo img{
  height: 100px;
}

.header_card {
  text-align: right;
  padding: 24px 0;
  ul {
    display: inline-block;
    margin-right: 25px;

    li {
      display: inline-block;
      margin-right: 25px;
      a{
        color: #1C1C1C;
      }
    }
  }
}

nav.header_menu {
  padding: 24px 0;
  li {
    display: inline-block;
    margin-right: 50px;
    a{
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      color: #1C1C1C;

    }
  }
}

.hero_search{
  margin-bottom: 30px;

  .hero-search_form{
    width: 610px;
    height: 50px;
    border: 1px solid $border;
    position: relative;
    float: left;
    margin-bottom: 30px;
  }
  form {
    .hero-search-categorie{
      width: 30%;
      float: left;
      font-size: 16px;
      color: $heading-color-2;
      font-weight: 700;
      padding-left: 18px;
      padding-top: 11px;
      position: relative;
    }
    input{
      width: 70%;
      border: none;
      height: 48px;
      font-size: 16px;
      color: $para-color;
      padding-left: 20px;
    }
    button{
      position: absolute;
      right: 0;
      top: -1px;
      height: 50px;
    }
  }
}

.hero-search_phone{
  float: right;
  .hero-search-phone_icon{
    font-size: 18px;
    color: $primary-color;
    height: 50px;
    width: 50px;
    background: $background;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    margin-left: 10px;
  }
}

.hero-search_phone_text{
  float: right;
  overflow: hidden;

  h5{
    color: $heading-color-2;
    font-weight: 700;
    margin-bottom: 5px;
  }
  span{
    font-size: 14px;
    color: $para-color;
  }
}

.set-bg{
  background-image: url("../images/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;

}
.hero_items{
  display: flex;
  height: 431px;
  width: 100%;
  align-items: center;
  padding-left: 75px;
}
.hero-items_text{
  width: 50%;
  span{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: $primary-color;
  }
  h2{
    font-size: 46px;
    color: $heading-color-2;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
  }

  .hero-items_text p{
    margin-bottom: 35px;
  }
  p{
    font-size: 16px;
    color: $para-color;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

}

.footer{
  background-color: $background;
  padding-bottom: 0;
  padding-top: 70px;
}

.footer_about ul {
  padding: 0;
  li{
    padding:  5px 0;
  }
}

.footer-copyright_text{
  padding: 10px 0;
}