html, body {
  height: 100%;
  font-family: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-family: "Cairo", sans-serif;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: #ffffff;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

header .header_top-bar {
  background-color: #f5f5f5;
}

ul {
  list-style: none;
}

.header_top-left li {
  display: inline-block;
  font-size: 14px;
  margin-right: 45px;
  color: #1C1C1C;
  position: relative;
}

.header_top-right {
  text-align: right;
}

.header_top-right-social {
  display: inline-block;
  margin-right: 35px;
}
.header_top-right-social a {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  color: #1C1C1C;
}

.header_top-right-auth {
  display: inline-block;
  position: relative;
  margin-left: 35px;
}

.header_top-right-auth {
  display: inline-block;
}
.header_top-right-auth a {
  color: #1C1C1C;
}

.header_logo {
  text-align: center;
  padding: 15px 0;
}

.header_logo a {
  display: inline-block;
}

.header_logo img {
  height: 100px;
}

.header_card {
  text-align: right;
  padding: 24px 0;
}
.header_card ul {
  display: inline-block;
  margin-right: 25px;
}
.header_card ul li {
  display: inline-block;
  margin-right: 25px;
}
.header_card ul li a {
  color: #1C1C1C;
}

nav.header_menu {
  padding: 24px 0;
}
nav.header_menu li {
  display: inline-block;
  margin-right: 50px;
}
nav.header_menu li a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #1C1C1C;
}

.hero_search {
  margin-bottom: 30px;
}
.hero_search .hero-search_form {
  width: 610px;
  height: 50px;
  border: 1px solid #ebebeb;
  position: relative;
  float: left;
  margin-bottom: 30px;
}
.hero_search form .hero-search-categorie {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #252525;
  font-weight: 700;
  padding-left: 18px;
  padding-top: 11px;
  position: relative;
}
.hero_search form input {
  width: 70%;
  border: none;
  height: 48px;
  font-size: 16px;
  color: #6f6f6f;
  padding-left: 20px;
}
.hero_search form button {
  position: absolute;
  right: 0;
  top: -1px;
  height: 50px;
}

.hero-search_phone {
  float: right;
}
.hero-search_phone .hero-search-phone_icon {
  font-size: 18px;
  color: #7fad39;
  height: 50px;
  width: 50px;
  background: #f5f5f5;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}

.hero-search_phone_text {
  float: right;
  overflow: hidden;
}
.hero-search_phone_text h5 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 5px;
}
.hero-search_phone_text span {
  font-size: 14px;
  color: #6f6f6f;
}

.set-bg {
  background-image: url("../images/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero_items {
  display: flex;
  height: 431px;
  width: 100%;
  align-items: center;
  padding-left: 75px;
}

.hero-items_text {
  width: 50%;
}
.hero-items_text span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  color: #7fad39;
}
.hero-items_text h2 {
  font-size: 46px;
  color: #252525;
  line-height: 52px;
  font-weight: 700;
  margin: 10px 0;
}
.hero-items_text .hero-items_text p {
  margin-bottom: 35px;
}
.hero-items_text p {
  font-size: 16px;
  color: #6f6f6f;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 15px 0;
}

.advertisement {
  padding-top: 80px;
  padding-bottom: 40px;
}

.section-title h2 {
  position: relative;
}

.section-title::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  width: 80px;
  background: #7fad39;
  content: "";
  margin: 0 auto;
}

.section-advertisement-delivery .row {
  padding: 10px;
  border: solid 2px #7fad39;
}
.section-advertisement-delivery .delivery_icon {
  font-size: 35px;
  text-align: center;
  color: #1c1c1c;
}
.section-advertisement-delivery h4 {
  font-size: 20px;
  text-align: center;
  padding: 10px;
}
.section-advertisement-delivery p {
  text-align: center;
}

.footer {
  background-color: #f5f5f5;
  padding-bottom: 0;
  padding-top: 70px;
}

.footer_about ul {
  padding: 0;
}
.footer_about ul li {
  padding: 5px 0;
}

.footer-copyright_text {
  padding: 10px 0;
}

/*# sourceMappingURL=style.css.map */
